/*Typos*/

@font-face {
    font-family: Ginger;
    src: url(/Fonts/Ginger.ttf);
  }

@font-face {
    font-family: UncutBold;
    src: url(/Fonts/Uncut-Sans-Bold.otf);
  }

@font-face {
    font-family: UncutReg;
    src: url(/Fonts/Uncut-Sans-Regular.otf);
  }

/*Initialisation*/

* {
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;
    cursor: none;
    box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}


.Container {
    width: 100%;
    height: 100%;

}




/*PremièrePage*/

.FirstPage {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
}

.Sentence1 {
  font-size: 3rem;
  color: #ffff;
  font-family: UncutReg;
  text-align: center;
  animation: FontResize 3s ease-out;
}

.NameSurname {
  font-size: 6rem;
  color: #ffff;
  font-family: Ginger;
  text-align: center;
  animation: FontResize2 3s ease-out;
}

#Arrow {
  width: 50px;
  height: 70px;
  animation-duration: .60s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: .30s ease-in-out;
}

          /*PremièrePageAnimations*/

@keyframes clignoter {
 0%   { opacity:1; }
 40%   {opacity:0; }
 100% { opacity:1; }
}

@keyframes FontResize {
  0% {font-size: 4rem;}
}

@keyframes FontResize2 {
  0% {font-size: 9rem;}
}


/*DeuxièmePage*/

.SecondPage {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
}


/*DeuxièmePage-WhoAmIBox*/

.WhoAmIBox {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  opacity: 1;
  margin-top: 50px;
  transition: 1s ease-in-out;
}

.WhoAmIBox.show {
  opacity: 1;
  transition: 2s ease-in-out;
}

.WhoAmI {
  color: white;
  padding: 30px;
  font-family: "Montserra", sans-serif;
  font-size: 3rem;
  word-spacing: normal;
}

.WhoAmIBold {
  color: #16db65;
  padding: 30px;
  font-family: "Montserra", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.Blur:hover {
  filter: blur(4px);
}

/*DeuxièmePage-CardBox*/












/*Troisième Page*/

.ThirdPage {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
}

/*TroisièmePage-SliderTextSettings*/

.ArrowSliders {
  display: flex;
  justify-content: center;
}

.sliders.show {
  opacity: 1;
  transition: 3s;
}

.SlidersTitles {
  font-family: UncutReg;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  padding: 10px;
}

/*TroisièmePage-SliderText*/

.wrapper, .wrapper2 {
  max-width: 100vw;
  overflow: hidden;
}

.TextWrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-top: 50px;
}

.SubTextWrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 30vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-top: 80px;
}

.marquee p, .marquee2 p {
  display: inline-block;
  font-family: Ginger;
  color: white;
  font-size: 6rem;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 20s linear infinite;
}

.marquee2 {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee2 30s linear infinite;
}

/*TroisièmePage-SliderTextAnimations*/

@keyframes marquee2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}





/*Quatrième Page*/

.FourthPage {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}

.laboite {
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.WhoAmIBox .word1:hover ~ .FourthPage{background: white;}

.ProjectBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  transition: 1s ease-in-out;
}

.CardBox {
  margin-top: 35px;
  width: 0vw;
  display: flex;
  justify-content: center;
  transition: 1s ease-in-out;
}

.Card1 {
  opacity: 1;
  height: 200px;
  width: 200px;
  transition: 1s ease-in-out;
  background: url("ArticleFéminisme/Page4.png");
  background-size: 100%;
  background-position: center;
}

.Card2 {
  opacity: 1;
  height: 200px;
  width: 200px;
  transition: 1s ease-in-out;
  background: url("https://cdn.pixabay.com/photo/2016/11/19/09/45/man-1838330__480.jpg");
  background-size: 280%;
  background-position: center;
  margin-left: 50px;
}

.Card3 {
  opacity: 1;
  height: 200px;
  width: 200px;
  transition: 1s ease-in-out;
  background: url("ExpoMaisonSoustraire/Page1.png");
  background-size: 100%;
  background-position: center;
  margin-left: 50px;
}

.Card4 {
  opacity: 1;
  height: 200px;
  width: 200px;
  transition: 1s ease-in-out;
  background: url("https://cdn.pixabay.com/photo/2016/11/19/09/45/man-1838330__480.jpg");
  background-size: 280%;
  background-position: center;
  margin-left: 50px;
}


.CardHover {
  opacity: 0;
  height: 200px;
  width: 200px;
  transition: 1s ease-in-out;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  opacity: 0;
  display: flex;
  align-items: flex-end;
}

.CardHover:hover {
  opacity: 1;
}

.CardTitle {
  color: white;
  padding: 10px;
  font-family: "Montserra", sans-serif;
  font-size: 1.5rem;
}



.FifthPage {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: Ginger;
  flex-direction: row;
  gap: 0;
}

.FithPageDivs {
  font-size: 4rem;
  height: 100%;
  width: 16.6%;
  background-color: #a32121;
  margin:10px;
  padding: 0;
}

.FifthPageText {
  margin: 0;
  padding: 0;
  
}




/*Custom Cursor*/

.circle {
	position: fixed;
  width: 4px;
  height: 4px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  left: 0;
  top:0;
  pointer-events: none;
  transform: translate(-50%,-50%);
  transition: .15s;
}

.circle2 {
	position: fixed;
  width: 50px;
  height: 50px;
  border: 2px solid #a32121;
  border-radius: 50px;
  left: 0;
  top:0;
  pointer-events: none;
  cursor: none;
  transform: translate(-50%,-50%);
  transition: .2s;
}

.circle2.grow {
  transform: translate(-50%,-50%) scale(1.5);
  background: radial-gradient(#a32121, transparent, transparent);
  border: 0px;
  opacity: 80%;
}

.circle.grow {
  opacity: 0%;
 }


/*No Selection*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


@media (max-width: 1000px) {

  .marquee p, .marquee2 p {
    display: inline-block;
    font-family: Ginger;
    color: white;
    font-size: 10rem;
  }

  .circle {
    position: fixed;
    width: 4px;
    height: 4px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
    left: 0;
    top:0;
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: .15s;
    opacity: 0;
  }
  
  .circle2 {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid #a32121;
    border-radius: 50px;
    left: 0;
    top:0;
    pointer-events: none;
    cursor: none;
    transform: translate(-50%,-50%);
    transition: .2s;
    opacity: 0;
  }
  
  .circle2.grow {
    transform: translate(-50%,-50%) scale(1.5);
    background: radial-gradient(#a32121, transparent, transparent);
    border: 0px;
    opacity: 80%;
    opacity: 0;
  }
  
  .circle.grow {
    opacity: 0%;
   }
   
   #Arrow {
    width: 100px;
    height: 140px;
    animation-duration: .60s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: .30s ease-in-out;
  }
  
            /*PremièrePageAnimations*/
  
  @keyframes clignoter {
   0%   { opacity:1; }
   40%   {opacity:0; }
   100% { opacity:1; }
  }

  .SlidersTitles {
    font-family: UncutReg;
    font-size: 4rem;
    text-align: center;
    color: white;
    padding: 10px;
  }
  
}