* {
  padding: 0;
  margin: 0;
  scroll-behavior:smooth;
  box-sizing: border-box;
  background-color: rgb(19, 19, 19);
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
}
.menu, .menu2, .menu3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  justify-content: left;
  z-index: 50;
}

.menu2 {
  display: none;
}

.presentation {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-evenly;
  vertical-align: text-top;
}

.presentation div {
  flex: 1;
}

.menu #ng-2, .menu3 #ng-2 {
  margin-left: 50px;
}

#ng-3 {
  padding-left: 20px;
}

.projets {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-evenly;
  gap: 10px;
}

.projets2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-evenly;
}

.projets div {
  flex: 1;
}

.projets div div:hover {
  cursor: pointer;
}

#my-div, #my-div2, #my-div3, #my-div4  {
  background-color: #28282b;
}

.projetsTitre {
  font-size: medium;
}

.projetsInfos {
  font-size: small;
}


.right {
  width: 50%; 
  margin-top: 2.5em;
  margin-bottom: 20px;
}

.left1 {
  width: 50%; 
  margin-top: 2em; 
  background-size:cover;
  background-repeat: no-repeat; 
  background-position: center;
  background-image: url(./src/Img/MiniaturesZiar/Thumbnail-Alexis.jpg);
}

.left2 {
  width: 50%; 
  margin-top: 2em; 
  background-size:cover;
  background-repeat: no-repeat; 
  background-position: center;
  background-image: url(./src/Img/img/Kulturika/Totem-City.jpg);
}

.left3 {
  width: 50%; 
  margin-top: 2em; 
  background-size:cover;
  background-repeat: no-repeat; 
  background-position: center;
  background-image: url(./src/Img/KickFlip/Billboard-Mockup-Realistic.jpg);
}

.left4 {
  width: 50%; 
  margin-top: 2em; 
  background-size:cover;
  background-repeat: no-repeat; 
  background-position: center;
  background-image: url(./src/Img/Rodtchenko/ProjetAlexandreRodtchenko-9.png);
}

#gal-m {
  display: none;
}



::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0;
  width: 2px;
}


/* Menu*/
.Arrowtext {
  width: 20px;
  height: 20px;
  top: 0;
  margin-top: 0;
  color: white;
  opacity: 0;
  animation: 1s fadeIn ease forwards .5s;
}

.Arrowtext button {
  border: 0;
  background-color: rgb(19, 19, 19);
}

.Arrowtext img {
  width: 20px;
  height: 20px;
}

.container {
  z-index: 99;
}

.popover {
  
   display: none;
   box-shadow: 0px 6px 8px rgba(19, 19, 19, .7);
}

.popover:target {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover .Arrowtext::after {
  opacity: 0;
}

.popover .content {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background-color: rgb(19, 19, 19);
  animation: 1s grow ease forwards;
  text-align: center;
}

.nav_list  {
  list-style-type: none;
}

.nav_list a {
  text-decoration: none;
  font-size: 40px;
  color: #fff;
}

.nav_list_item {
  height: 100%;
  overflow: hidden;
}

.nav_list li {
  padding: 15px 0;
  text-transform: uppercase;
  transform: translateY(200px);
  opacity: 0;
  animation: 2s slideUp ease forwards .5s;
  position: relative;
  font-family: Ginger;
  text-align: left;
}



.popover p {
  padding: 50px;
  opacity: 0;
  animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(19, 19, 19);
  color: #fff;
  content: "×";
  cursor: pointer;
  opacity: 0; 
  animation: 1s fadeIn ease forwards .5s;
}

@keyframes grow {
  100% {
    height: 100%;
    width: 100%;
 }
}

@keyframes fadeIn {
100% {
  opacity: 1;
 }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
   }
  }

@media (max-width: 1000px) {
  .projets {
      flex-direction: column;
  }

  .main {
      flex-direction: column;
  }

  .menu {
    display: none;
  }

  .menu2 {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
  }

  .menu3 {
    display: flex;
    top: 0;
  }

  .right {
      width: 100%;
      margin-top: 0;
  }

  .left1, .left2, .left3, .left4{
      width: 100%;
      height: 250px;
      top: 0;
  }

  #gal-m {
      display: block;
  }

  .projetsTitre {
    font-size: large;
  }

  .projetsInfos {
    font-size: medium;
  }
}