  /*Typos*/

  @font-face {
    font-family: Ginger;
    src: url("../../Fonts/Ginger.ttf");
  }

@font-face {
    font-family: UncutBold;
    src: url("../../Fonts/Uncut-Sans-Bold.otf");
  }

@font-face {
    font-family: UncutReg;
    src: url("../../Fonts/Uncut-Sans-Regular.otf");
  }

/*Initialisation*/

* {
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;
    cursor: none;
    box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}


.Container {
    width: 100%;
    height: 100%;
}


/*FirstPage*/

.FirstPage {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    flex-direction: column;
  }
  
  .Sentence1 {
    font-size: 3rem;
    color: #ffff;
    font-family: UncutReg;
    text-align: center;
    transition: 2s ease-in-out;
    z-index: 5;
  }

  .NameSurname {
    font-size: 6rem;
    color: #ffff;
    font-family: Ginger;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .Sentence1:hover {
    filter: drop-shadow(0 0 0.75rem black);
    transition: 2s ease-in-out;
  }

  .bg {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("../../Img/Kulturika/Cover.jpg");
    opacity: 0.3;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image {
    pointer-events: none;
      position: absolute;
      height: 50vh;
      max-height: 400px;
    right:0;
      opacity: 0;
      transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
    z-index: 2;
  }

  .Sentence1:hover + .image {
    opacity: 100%;
    transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
    transition: 2s ease-in-out;
}


/*SecondPage*/

.SecondPage {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-direction: column;
}

.Sentence2 {
  font-size: 3rem;
  color: #ffff;
  font-family: UncutReg;
  text-align: center;
  transition: 2s ease-in-out;
  z-index: 5;
}

.Sentence2:hover {
  filter: drop-shadow(0 0 0.75rem black);
  transition: 2s ease-in-out;
}

.bg2 {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../../Img/MobillierCollectifDuVelay/MainPreview.jpg");
  opacity: 0.3;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.image2 {
  pointer-events: none;
    position: absolute;
    height: 50vh;
    max-height: 400px;
  right:0;
    opacity: 0;
    transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
  z-index: 2;
}

.Sentence2:hover + .image2 {
  opacity: 100%;
  transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
  transition: 2s ease-in-out;
}


/*ThirdPage*/

.ThirdPage {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-direction: column;
}

.Sentence3 {
  font-size: 3rem;
  color: #ffff;
  font-family: UncutReg;
  text-align: center;
  transition: 2s ease-in-out;
  z-index: 5;
}

.Sentence3:hover {
  filter: drop-shadow(0 0 0.75rem black);
  transition: 2s ease-in-out;
}

.bg3 {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../../Img/ProjetFanny/Export.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  z-index: 0;
}

.image3 {
  pointer-events: none;
    position: absolute;
    height: 50vh;
    max-height: 400px;
  right:0;
    opacity: 0;
    transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
  z-index: 2;
}

.Sentence3:hover + .image3 {
  opacity: 100%;
  transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
  transition: 2s ease-in-out;
}


/*FourthPage*/

.FourthPage {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-direction: column;
}

.Sentence4 {
  font-size: 3rem;
  color: #ffff;
  font-family: UncutReg;
  text-align: center;
  transition: 2s ease-in-out;
  z-index: 5;
}

.Sentence4:hover {
  filter: drop-shadow(0 0 0.75rem black);
  transition: 2s ease-in-out;
}

.bg4 {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../../Img/InfographieMacdo/PreviewBefore.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.image4 {
  pointer-events: none;
    position: absolute;
    height: 50vh;
    max-height: 400px;
  right:0;
    opacity: 0;
    transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
  z-index: 2;
}

.Sentence4:hover + .image4 {
  opacity: 100%;
  transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
  transition: 2s ease-in-out;
}


/*FithPage*/

.FithPage {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    flex-direction: column;
  }
  
  .Sentence5 {
    font-size: 3rem;
    color: #ffff;
    font-family: UncutReg;
    text-align: center;
    transition: 2s ease-in-out;
    z-index: 5;
  }

  .NameSurname {
    font-size: 6rem;
    color: #ffff;
    font-family: Ginger;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .Sentence5:hover {
    filter: drop-shadow(0 0 0.75rem black);
    transition: 2s ease-in-out;
  }

  .bg5 {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("../../Img/ExpoMaisonSoustraire/Page5.png");
    opacity: 0.3;
    z-index: 0;
    background-size: cover;
    background-position: center;
  }

  .image5 {
    pointer-events: none;
      position: absolute;
      height: 50vh;
      max-height: 400px;
    right:0;
      opacity: 0;
      transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
    z-index: 2;
  }

  .Sentence5:hover + .image5 {
    opacity: 100%;
    transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
    transition: 2s ease-in-out;
}


/*SixthPage*/

.SixthPage {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-direction: column;
}

.Sentence6 {
  font-size: 3rem;
  color: #ffff;
  font-family: UncutReg;
  text-align: center;
  transition: 2s ease-in-out;
  z-index: 5;
}

.Sentence6:hover {
  filter: drop-shadow(0 0 0.75rem black);
  transition: 2s ease-in-out;
}

.bg6 {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../../Img/ArticleFéminisme/Page4.png");
  opacity: 0.3;
  z-index: 0;
  background-size: cover;
  background-position: center;
}

.image6 {
  pointer-events: none;
    position: absolute;
    height: 50vh;
    max-height: 400px;
  right:0;
    opacity: 0;
    transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
  z-index: 2;
}

.Sentence6:hover + .image6 {
  opacity: 100%;
  transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
  transition: 2s ease-in-out;
}


/*SeventhPage*/

.SeventhPage {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-direction: column;
}

.Sentence7 {
  font-size: 3rem;
  color: #ffff;
  font-family: UncutReg;
  text-align: center;
  transition: 2s ease-in-out;
  z-index: 5;
}

.Sentence7:hover {
  filter: drop-shadow(0 0 0.75rem black);
  transition: 2s ease-in-out;
}

.bg7 {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../../Img/FestivalCourtMetrage/AfficheOffTheGridFestival.png");
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 0;
  background-size: cover;
  background-position: center;
}

.image7 {
  pointer-events: none;
    position: absolute;
    height: 50vh;
    max-height: 400px;
  right:0;
    opacity: 0;
    transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
  z-index: 2;
}

.Sentence7:hover + .image7 {
  opacity: 100%;
  transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
  transition: 2s ease-in-out;
}


/*EigthPage*/

.EigthPage {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-direction: column;
}

.Sentence8 {
  font-size: 3rem;
  color: #ffff;
  font-family: UncutReg;
  text-align: center;
  transition: 2s ease-in-out;
  z-index: 5;
}

.Sentence8:hover {
  filter: drop-shadow(0 0 0.75rem black);
  transition: 2s ease-in-out;
}

.bg8 {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../../Img/HomoSpatius/HomoSpacius.png");
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 0;
  background-size: cover;
  background-position: center;
}

.image8 {
  pointer-events: none;
    position: absolute;
    height: 50vh;
    max-height: 400px;
  right:0;
    opacity: 0;
    transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
  z-index: 2;
}

.Sentence8:hover + .image8 {
  opacity: 100%;
  transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
  transition: 2s ease-in-out;
}


/*NinethPage*/

.NinethPage {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-direction: column;
}

.Sentence9 {
  font-size: 3rem;
  color: #ffff;
  font-family: UncutReg;
  text-align: center;
  transition: 2s ease-in-out;
  z-index: 5;
}

.NameSurname {
  font-size: 6rem;
  color: #ffff;
  font-family: Ginger;
  text-align: center;
}

a {
  text-decoration: none;
}

.Sentence9:hover {
  filter: drop-shadow(0 0 0.75rem black);
  transition: 2s ease-in-out;
}

.bg9 {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../../Img/Débéloise/Poster-mockup.jpg");
  opacity: 0.3;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.image9 {
  pointer-events: none;
    position: absolute;
    height: 50vh;
    max-height: 400px;
  right:0;
    opacity: 0;
    transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
  z-index: 2;
}

.Sentence9:hover + .image9 {
  opacity: 100%;
  transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
  transition: 2s ease-in-out;
}




  #Arrow {
    width: 50px;
    height: 70px;
    animation-duration: .60s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: .30s ease-in-out;
  }

  #Arrow2 {
    width: 50px;
    height: 70px;
  }


  
            /*PremièrePageAnimations*/
  
  @keyframes clignoter {
   0%   { opacity:1; }
   40%   {opacity:0; }
   100% { opacity:1; }
  }
  







/*Custom Cursor*/

.circle {
  z-index: 100;
	position: fixed;
  width: 4px;
  height: 4px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  left: 0;
  top:0;
  pointer-events: none;
  transform: translate(-50%,-50%);
  transition: .15s;
}

.circle2 {
  z-index: 100;
	position: fixed;
  width: 50px;
  height: 50px;
  border: 2px solid #a32121;
  border-radius: 50px;
  left: 0;
  top:0;
  pointer-events: none;
  cursor: none;
  transform: translate(-50%,-50%);
  transition: .2s;
}

.circle2.grow {
  z-index: 100;
  transform: translate(-50%,-50%) scale(1.5);
  background: radial-gradient(#a32121, transparent, transparent);
  border: 0px;
  opacity: 80%;
}

.circle.grow {
  opacity: 0%;
 }


/*No Selection*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}










.Arrow2 {
  z-index: 50;
  width: 100px;
    height: 140px;
    animation-duration: .60s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: .30s ease-in-out;
}

.Arrowtext2 {
	position: fixed;
  display: flex;
  flex-direction: row;
	z-index: 99;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  opacity: 0;
  animation: 1s fadeIn ease forwards .5s;
}

.Arrowtext3 {
	position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
	z-index: 98;
  margin-top: 10px;
  color: white;
  opacity: 0;
  animation: 1s fadeIn ease forwards .5s;
  font-family: Ginger;
}

.espace {
  margin-left: 20px;
}

.espacemini {
  margin-left: 30px;
}


.active {
  color: white;
}



.Arrowtext2 button {
  border: 0;
  background-color: transparent;
}

.Arrowtext2 img {
  width: 20px;
  height: 20px;
}

.Linkedin {
  margin-left: 10px;
}

/* Menu*/
.Arrowtext {
	position: fixed;
	z-index: 99;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
  color: white;
  opacity: 0;
  animation: 1s fadeIn ease forwards .5s;
}

.Arrowtext button {
  border: 0;
  background-color: transparent;
}

.Arrowtext img {
  width: 20px;
  height: 20px;
}

.container {
  z-index: 99;
  
}

.popover {
  
   display: none;
   box-shadow: 0px 6px 8px rgba(19, 19, 19, .7);
}

.popover:target {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popover .Arrowtext::after {
  opacity: 0;
}

.popover .content {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background-color: #000000;
  animation: 1s grow ease forwards;
  text-align: center;
}

.nav_list  {
  list-style-type: none;
}

.nav_list a {
  text-decoration: none;
  font-size: 50px;
  color: #fff;
}

.nav_list_item {
  height: 100%;
  overflow: hidden;
}

.nav_list li {
  padding: 15px 0;
  text-transform: uppercase;
  transform: translateY(200px);
  opacity: 0;
  animation: 2s slideUp ease forwards .5s;
  position: relative;
  font-family: Ginger;
}

.nav_list li::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0px;
  left: 0;
  bottom: 10px;
  background: #16db65; 
  transition: all .5s ease;
}

.nav_list li:hover:before {
      width: 100%;
}

.popover p {
  padding: 50px;
  opacity: 0;
  animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
  content: "×";
  cursor: pointer;
  opacity: 0; 
  animation: 1s fadeIn ease forwards .5s;
}

@keyframes grow {
  100% {
    height: 100%;
    width: 100%;
 }
}

@keyframes fadeIn {
100% {
  opacity: 1;
 }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
   }
  }

/*Notation*/

.LittleFlex {
    display: flex;
    flex-direction: row;
    opacity: 1;
    margin-bottom: 10px;
}

.InfoText {
    color: white;
    font-family: "Montserra", sans-serif;
    font-size: 1.5rem;
    word-spacing: normal;
    padding-left: 15px;
}

.LittleFlex img {
  scale: 150%;
}

.indesign {
  scale: 10%;

}

.Arrowtext4 {
  position: fixed;
  z-index: 99;
  width: 40px;
  height: 50px;
  right: 0;
  bottom: 0;
  margin-bottom: 30px;
  margin-right: 15px;
  color: white;
  opacity: 0;
  animation: 1s fadeIn ease forwards .5s;
}

.Arrowtext4 button {
  border: 0;
  background-color: transparent;
}

.Arrowtext4 p {
  font-size: 1rem;
  color: #ffff;
  font-family: UncutReg;
}
.Arrowtext4 p:hover {
  font-family: Ginger;
}














  @media (max-width: 1000px) {

    #Arrow2 {
      width: 70px;
      height: 90px;
    }

    .Arrowtext4 {
      position: fixed;
      z-index: 99;
      width: 40px;
      height: 50px;
      right: 0;
      bottom: 0;
      margin-bottom: 50px;
      margin-right: 55px;
      color: white;
      opacity: 0;
      animation: 1s fadeIn ease forwards .5s;
    }
    
    .Arrowtext4 button {
      border: 0;
      background-color: transparent;
    }
    
    .Arrowtext4 p {
      font-size: 2rem;
      color: #ffff;
      font-family: UncutReg;
    }
    .Arrowtext4 p:hover {
      font-family: Ginger;
    }

    .LittleFlex {
      display: flex;
      flex-direction: row;
      opacity: 1;
      margin-bottom: 50px;
      margin-top: 50px;
    }

    .LittleFlex img {
      scale: 300%;
    }
    
    .indesign {
      scale: 20%;
    
    }

    .espacemini {
      margin-left: 80px;
    }
    

    .Arrowtext4 {
      position: fixed;
      z-index: 99;
      width: 40px;
      height: 50px;
      right: 0;
      bottom: 0;
      margin-bottom: 50px;
      margin-right: 55px;
      color: white;
      opacity: 0;
      animation: 1s fadeIn ease forwards .5s;
    }
    
    .Arrowtext4 button {
      border: 0;
      background-color: transparent;
    }
    
    .Arrowtext4 p {
      font-size: 2rem;
      color: #ffff;
      font-family: UncutReg;
    }
    .Arrowtext4 p:hover {
      font-family: Ginger;
    }

    .marquee p, .marquee2 p {
      display: inline-block;
      font-family: Ginger;
      color: white;
      font-size: 10rem;
    }
  
    .circle {
      z-index: 100;
      position: fixed;
      width: 4px;
      height: 4px;
      background-color: white;
      border: 1px solid white;
      border-radius: 50px;
      left: 0;
      top:0;
      pointer-events: none;
      transform: translate(-50%,-50%);
      transition: .15s;
      opacity: 0;
    }
    
    .circle2 {
      z-index: 100;
      position: fixed;
      width: 50px;
      height: 50px;
      border: 2px solid #a32121;
      border-radius: 50px;
      left: 0;
      top:0;
      pointer-events: none;
      cursor: none;
      transform: translate(-50%,-50%);
      transition: .2s;
      opacity: 0;
    }
    
    .circle2.grow {
      z-index: 100;
      transform: translate(-50%,-50%) scale(1.5);
      background: radial-gradient(#a32121, transparent, transparent);
      border: 0px;
      opacity: 80%;
      opacity: 0;
    }
    
    .circle.grow {
      z-index: 100;
      opacity: 0%;
     }
     
     #Arrow {
      width: 100px;
      height: 140px;
      animation-duration: .60s;
      animation-name: clignoter;
      animation-iteration-count: infinite;
      transition: .30s ease-in-out;
    }
  
    
              /*PremièrePageAnimations*/
    
    @keyframes clignoter {
     0%   { opacity:1; }
     40%   {opacity:0; }
     100% { opacity:1; }
    }
  
    .SlidersTitles {
      font-family: UncutReg;
      font-size: 3rem;
      text-align: center;
      color: white;
      padding: 10px;
    }
  
    .popover .close::after {
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      position: absolute;
      display: flex;
      z-index: 1;
      font-size: 100px;
      align-items: center;
      justify-content: center;
      background-color: #000000;
      color: #fff;
      content: "×";
      cursor: pointer;
      opacity: 0; 
      animation: 1s fadeIn ease forwards .5s;
      margin: 30px;
    }
  
    .Arrowtext2 img {
    width: 50px;
    height: 50px;
  }
  
  .Arrowtext img {
    width: 50px;
    height: 50px;
  }


  .Linkedin {
    margin-left: 20px;
  }

  .Arrowtext2 {
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 99;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    opacity: 0;
    animation: 1s fadeIn ease forwards .5s;
  }

  .Arrowtext {
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 99;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 50px;
    color: white;
    opacity: 0;
    animation: 1s fadeIn ease forwards .5s;
  }
  .nav_list a {
    text-decoration: none;
    font-size: 100px;
    color: #fff;
  }

  li {
  margin: 40px;
}



.NameSurname {
  font-size: 10rem;
  color: #ffff;
  font-family: Ginger;
  text-align: center;
  animation: FontResize2 3s ease-out;
}


          /*PremièrePageAnimations*/

@keyframes clignoter {
 0%   { opacity:1; }
 40%   {opacity:0; }
 100% { opacity:1; }
}


  }


